
body, h1, h2, h3, h4, h5, h6, ul, li, p, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.form-page {
    background-color: #231942;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.any{
    margin-left: 2vw;
}
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 50%;
}
.any{
    margin-right: 3px;
}
.headings .titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.titles .tab {
    cursor: pointer;
    padding: 10px 15px;
    color: #9f86c0;
    transition: color 0.3s ease-in-out;
}

.titles .tab:hover {
    color: #5e548e;
}
.submit-button-form{
    margin-left: 40vw;
}
.titles .active {
    font-weight: bold;
    color: #5e548e;
    border-bottom: 3px solid #9f86c0;
}
li{
    list-style-type: none;
}
.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-bottom: 15px;
}

.radio-group input[type="radio"] {
    margin-right: 0vw;
    margin-left: -21vw;
}

.radio-label {
    margin-left: -21vw;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #231942;
}

form input[type="text"], 
form input[type="email"], 
form input[type="date"], 
form input[type="phone"], 
form input[type="file"], 
form textarea,select {
    margin-right: 4px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
    transition: border-color 0.3s ease-in-out;
}
form input:focus, form textarea:focus {
    border-color: #5e548e;
    outline: none;
}


.submit-button-form-final {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #5e548e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submit-button-form-final:hover {
    background-color: #9f86c0;
}
.personal-form, .academic-form, .financial-form, .documents-form {
    background-color: #e0b1cb;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.personal-form input, .academic-form input, .financial-form input, .documents-form input, 
.personal-form textarea, .academic-form textarea, .financial-form textarea, .documents-form textarea {
    background-color: #fff;
}
