.funds-disbursement-page, .track-your-application-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="number"],
input[type="date"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #231942;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.message {
    color: #e74c3c;
    font-weight: bold;
}

.disbursement-form, .funds-details-form {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #5e548e;
    color: white;
}
.review-details p,.here{
    margin: 0 10vw 0 10vw;
}
.review-details p,.here{
    text-align: justify;
    margin-bottom: 1vh;
}
.button{
    margin-right: 2vw;
}
