.funds-disbursement-page, .track-your-application-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.funds-disbursement-page td {
    color: white;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    background: rgb(3, 3, 110);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}
.funds-disbursement-page input[type="text"],
.funds-disbursement-page input[type="number"],
.funds-disbursement-page input[type="date"] {
    width: calc(100%);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #2969f3;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.message {
    color: #4ae73c;
    font-weight: bold;
}

.disbursement-form, .funds-details-form {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgb(68, 171, 255);
    color: white;
} 
.review-details p,.here{
    text-align: left;
    margin-bottom: 1vh;
}
.review-details h2 {
    text-align: center;
} 
.button{
    margin-right: 2vw;
}

.review-details {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}


