.track-application-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.track-application-container {
    background: rgb(3, 3, 110);
    padding: 20px 30px;
    margin-top: 80px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #231942;
    font-size: 24px;
}

.application-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.track-button {
    background-color: #003F91;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.track-button:hover {
    background-color: rgb(62, 62, 255);
    color: white;
}

.message {
    color: red;
    margin-top: 10px;
}

.application-details {
    text-align: left;
    margin-top: 20px;
}

.application-details p {
    margin: 5px 0;
    color: #333;
}

.document-section {
    margin-bottom: 15px;
}

.view-document {
    display: inline-block;
    margin-top: 5px;
    color: #5e548e;
    text-decoration: none;
}

.view-document:hover {
    text-decoration: underline;
}

.reupload-section {
    margin-top: 10px;
}

.file-input {
    display: block;
    margin-bottom: 10px;
}

.reupload-button {
    background-color: #e0b1cb;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.reupload-button:hover {
    background-color: #be95c4;
}

