.form-folder-container {
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.form-folder-container form {
  margin-bottom: 20px;
}

.form-folder-label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.class-selection {
  padding: 5px;
  /* margin-left: 10px; */
  width: 100%;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #45a049;
}

.pdf-list-container {
  margin-top: 20px;
}

.pdf-list-container ul {
  list-style-type: none;
  padding: 0;
}

.pdf-list-container li {
  margin: 10px 0;
}

.pdf-list-container a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.pdf-list-container a:hover {
  text-decoration: underline;
}
