.quiz-container {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    max-width: 100%;
}

.quiz-tabs {
    display: flex;
    justify-content: center; 
    gap: 10px;
    margin-bottom: 20px;
    height: 60px;
}

.quiz-tab {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.quiz-tab.active {
    background-color: #0039f1;
    color: white;
}

.quiz-tab:hover {
    background-color: #0038f1c9;
    color: white;
}

.quiz-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.418);
}

.panel {
    text-align: center;
    background-color: #F0F8FF;
    border: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.panel h2 {
    background-color: #4a90e2;
    color: white;
}

.panel button {
    width: 300px;
    border: 2px solid #4a90e2;
    color: #4a90e2;
    background-color: #F0F8FF;
    font-weight: bold;
    cursor: pointer;
}

.panel button:hover {
    background-color: #4a90e2;
    color: black;
}
