.create-quiz-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgb(238, 237, 237);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.create-quiz-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.heading {
  margin: 0;
}

.form-group-2 {
  margin-bottom: 20px;
}

.form-group-2 label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #000;
}

.form-group-2 input[type="text"],
.form-group-2 input[type="number"],
.form-group-2 input[type="time"],
.form-group-2 input[type="date"],
.form-group-2 select {
  width: 86%;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #bbb;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.button-group button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background-color: #4a90e2;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button:hover {
  background-color: #357ab8;
}

.question-group {
  margin-bottom: 20px;
}

.question-block {
  background-color: #dddde4;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  border-left: 6px solid navy;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

}

.question-group .option-group2 {
  position: relative;
  margin-bottom: 1em;
  padding-right: 2em;
}

.question-group .option-group2 label {
  margin-right: 10px;
}

.add-button {
  background-color: #50c878;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #3e9a5d;
}

.submit-button2 {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

.submit-button2:hover {
  background-color: #357ab8;
}

.question-block, .option-group {
  position: relative;
}

.delete-icon {
  font-size: 1.2em;
  background: transparent;
  border: none;
  cursor: pointer;
  color: red;
  margin-left: 10px;
}

.delete-icon:hover {
  color: #c00; 
}


.option-group2 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.option-group2 label {
  margin-right: 10px; 
  flex-shrink: 0; 
}

.option-group2 input {
  flex: 1; 
}
