.video-list-container {
    border-radius: 10px;
    background-color: white;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    text-align: center;    
}

@media (min-width: 1400px) {
    .video-list-container {
        margin-left: 300px;
        margin-right: 300px;
    }
}

.video-list-header {
    background-color: #4a90e2;
    font-size: 35px;
    color: white;
    padding: 10px;
}

.video-list-items {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.video-list-item {
    margin-bottom: 15px;
}

.video-list-item img {
    width: 300px;
    height: auto;
    cursor: pointer;
}

.video-list-item p {
    margin-top: 5px;
}
