.login-signup-bg {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('./assets/login-signup.png'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  min-height: 100vh; 
  padding-top: 70px; 
  display: grid;
  place-items: center;
}

.auth-container {
  width: 420px;
  margin-bottom: 50px;
  padding: 30px;
  background-color: rgb(3, 3, 110);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 20px;
}

.signup {
  text-align: center;
}

.input-hander {
  margin-top: 2px !important;
}

h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.form-group-signup {
  margin-bottom: 10px;
  position: relative;
}

.form-group-signup label {
  display: block;
  margin-bottom: 2px;
  color: white;
  font-size: 15px;
}

.takeInput, select {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
}

input:focus, select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.auth-error {
  color: #ee8d96;
  font-size: 0.875em;
  margin-top: 5px;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.login-link p {
  font-size: 1em;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}

.already-acc {
  text-align: center;
}

.signup-underline {
  text-decoration: underline;
  color: #003f91;
}

.center-align {
  text-align: center;
  margin-top: 2px;
}
