.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  position: relative;
  height: 140px;
}

.navbar-left .logo {
  height: 80px;
}

.navbar-left{
  margin-left: 20px;
}

.navbar-center {
  flex: 1;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar-item {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-left: 30px;
}

.navbar-item.pd {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-item.dropdown {
  position: relative;
}

.dropdown-toggle-item {
  background: none;
  border: none;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #333;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 10px 0;
  margin: 0;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}


.sm {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 8px 20px;
  clear: both;
  font-weight: 400;
  color: #333;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
  cursor: pointer;
  font-size: .8rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 8px 20px;
  clear: both;
  font-weight: 400;
  color: #333;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 40px;
}

.search-icon {
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.notification-icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.profile-icon {
  height: 28px;
  width: 28px;
  cursor: pointer;
}
