.teacher-input {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 80px;
}

h1 {
  text-align: center;
  color: #333;
}

.action-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.teacher-input button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bffa7;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.teacher-input .button-fd{
  background-color: #003f91 !important;
}

.teacher-input button.active {
  background-color: #0056b3;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  max-width: 95%;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input, .teacher-text {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.teacher-text {
  resize: vertical;
  min-height: 100px;
}

button[type="submit"] {
  background-color: #003f91;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #003f91;
}

label {
  color: #003f91;
}