.panel {
    border-radius: 10px;
    background-color: white;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid #0000FF;
}

@media (min-width: 1400px) {
    .panel {
        margin-left: 300px;
        margin-right: 300px;
    }
}

.panel h2 {
    background-color: #4a90e2;
    border-radius: 10px;;
    color: white;
    font-size: 35px;
    padding: 10px;
    margin: 0;
    text-align: center; 
}

.panel ul {
    padding-left: 20px; 
    margin: 0;
    list-style-type: disc; 
}

.panel li {
    padding: 10px 0;
    list-style-position: outside;
    display: block;
}

.panel li a {
    text-decoration: none;
    color: #0000FF;
    display: block;
  
}
