body, html {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.enrollment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  animation: fadeIn 1s ease-in-out;
}

.features-section2 {
  padding: 2rem;
  background-color: rgb(168, 228, 255);
  text-align: center;
  border-radius: 15px;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  transition: background-color 0.3s ease;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #003F91;
  transition: color 0.3s ease;
}

.section-title:hover {
  color: #1b0480;
}

.feature-cards-container { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Card */
.card {
  background-color: #f2f6fa;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  padding: 20px;
  width: 100%;
  max-width: 300px;
  text-align: left;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover::before {
  opacity: 1;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #eaf4ff; 
}

.card.selected {
  border: 3px solid #1b0480;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #003F91;
  transition: color 0.3s ease;
}

.card p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.enroll-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease;
  margin-top: 20px;
}

.enroll-button:hover {
  background-color: #2580e2;
  transform: scale(1.1);
  transition: 0.1s ease;
}

.enroll-button:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

.status-message {
  font-size: 1rem;
  color: #4CAF50;
  margin-top: 15px;
  animation: fadeInUp 0.5s ease-out;
}

/* Keyframe Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
