.feature-cards-container { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.fcard {
background-color: #f2f6fa;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
padding: 20px;
max-width: 300px;
text-align: left;
transition: transform 0.2s;
}

.fcard:hover {
transform: translateY(-10px);
}

.fcard h2 {
font-size: 20px;
margin-bottom: 10px;
}

.fcard p {
font-size: 14px;
margin-bottom: 15px;
}

.fcard ul {
list-style-type: disc;
padding-left: 20px;
}

.fcard ul li {
font-size: 14px;
margin-bottom: 5px;
}

.fcard h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-family: 'Palatino Linotype';
  font-weight: 400;
  color: #003F91;
  -webkit-text-stroke: 1px #003F91;
  transition: color 0.3s ease;
}