.student-bg-container{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('../Video_Lectures/assets/student-bg.png') !important; /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Ensures the image stays fixed on scroll */
  padding-top: 70px; /* This padding ensures the content appears below the fixed navbar */
  min-height: 100vh; /* Ensure it covers the entire viewport height */
  padding-top: 70px;
}

.video-list-item p {
    margin-top: 5px;
}
/* VideoList.css */

/* Color scheme */
:root {
  --honeydew: #f0fff0;
  --argentinian-blue: #0095d9;
  --marian-blue: #004e92;
  --white: #ffffff;
  --finn: #6c757d;
}

.video-list-container {
  padding: 20px;
  width: 100%;
}

.filters-toggle-container {
  text-align: right;
  margin-bottom: 10px;
}

.filters-toggle-button {
    background-color: var(--argentinian-blue);
    color: var(--white);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px; /* Adjust padding for desired size */
    font-size: 16px; /* Set a font size */
    display: inline-flex; /* Align items vertically centered */
    align-items: center;
  }
  
  .filters-toggle-button:hover {
    background-color: var(--marian-blue);
  }
  .filterhere{
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .filter-panel {
    background-color: transparent;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: fit-content;
    overflow-y: auto; /* Add scroll if content exceeds */
  }
  
.filter-group {
width: 440px;
  margin-bottom: 15px;
}

.filter-group label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
  color: black;
}

.filter-group select {
  width: 100%;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--finn);
}

.apply-filters-button {
  background-color: rgb(71, 114, 255);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.video-list-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

.video-list-item {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
  text-align: center;
}

.video-thumbnail {
  width: 100%;
  height: 250px;
  cursor: pointer;
  transition: transform 0.3s;
}

.video-thumbnail:hover {
  transform: scale(1.05);
}

.video-title {
  font-weight: bold;
  margin: 10px 0;
}

.video-type {
  color: var(--marian-blue);
}