.create-lecture-wrapper {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    max-width: 90%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .create-lecture-form {
    display: flex;
    flex-direction: column;
  }
  
  .create-lecture-form label {
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  .create-lecture-form select, 
  .create-lecture-form input[type="text"], 
  .create-lecture-form input[type="file"], 
  .create-lecture-form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .create-lecture-form select {
    background-color: #ffffff;
  }
  
  .create-lecture-form input[type="text"] {
    background-color: #ffffff;
  }
  
  .create-lecture-form input[type="file"] {
    border: none;
  }
  
  .create-lecture-form button {
    background-color: #003F91;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    padding: 15px;
  }
  
  .create-lecture-form button:hover {
    background-color: #003F91;
  }
  
  .create-lecture-form option {
    padding: 10px;
  }
  
  .create-lecture-form .input-new-chapter {
    margin-top: 10px;
  }

  .create-lecture-form label {
    margin-bottom: 15px;
    font-size: 16px;
    color: #003F91; 
  }
  
  #Submit-btn {
    background: #003F91;
  }