.teacher-landing-bg {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('https://img.freepik.com/premium-photo/vector-colored-back-school-day-background_951220-75599.jpg') !important;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 20px; 
  min-height: 97.1vh; 
  padding-top: 70px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9); 
}

.teacher-landing-container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  max-width: 60%;
  background-color: transparent;
  backdrop-filter: blur(10px); 
  /* background-color: rgba(249, 249, 249, 0.9);  */
  border-radius: 8px;
  margin-top: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; 
  z-index: 2;
}

.tabs {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.tab {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  height: 96px;
  flex-grow: 1; 
  margin-right: 10px;
  color: black;
  font-weight: bold;
}

.tab.active {
  background-color: #5DA9E9 !important;
  color: white;
}

.tab:hover {
  background-color: #5daae9de !important;
  color: white;
}

.content {
  margin-top: 20px;
}

button {
  color: #003F91;
}

button:focus {
  outline: none;
  box-shadow: none;
}
